<button
  [ngClass]="{
    'bg-gray-400 hover:bg-gray-400 text-gray-200 hover:animate-none cursor-not-allowed':
      casePosiblity.checkedByUser,
    'lg:w-full m-0 mb-2': isInModal
  }"
  (click)="buttonClicked()"
  [disabled]="casePosiblity.checkedByUser"
  routerLinkActive="border-4 border-gray-400"
  class="w-full shadow-2xl py-5 lg:w-1/4 m-3 text-center rounded-lg text-white bg-blue-700 cursor-pointer hover:bg-blue-500 hover:animate-pulse"
>
  {{ casePosiblity.details }}
</button>

<div
  *ngIf="casePosiblity.subOptions && showModal"
  class="fixed w-full h-full top-0 left-0 flex items-center justify-center bg-gray-400 bg-opacity-50"
>
  <div class="w-1/3 bg-white rounded">
    <header class="py-2 border-b-2 px-4 flex items-center justify-between">
      <h3 class="text-lg text-left">{{ casePosiblity.details }}</h3>
      <button (click)="buttonClicked()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </header>
    <div class="flex flex-col px-4 pt-2">
      <app-case-button
        *ngFor="let cp of casePosiblity.subOptions"
        [casePosiblity]="cp"
        [isInModal]="true"
      ></app-case-button>
    </div>
  </div>
</div>
