<header>
    <nav class="flex items-center justify-between container ">
      <a>
        <img class="h-20 w-auto" src="../../../assets/ED.svg" alt="" />
      </a>
      
      <div class="text-lg text-gray-600 hidden lg:flex">
        <a class="block lg:inline-block hover:text-gray-700 lg:mt-0 mr-10">
          <button [routerLink]="['/']">
            Home
          </button>
         
        </a>
        <a *ngIf="userSignedIn" class="block lg:inline-block hover:text-gray-700 lg:mt-0 mr-10">
          <button [routerLink]="['/dashboard']">Dashboard</button>
        </a>
        <a *ngIf="userSignedIn" class="block lg:inline-block hover:text-gray-700 lg:mt-0 mr-10">
           Report <!-- will fiddle around with the name for this - but essentially report of previous attempts-->
        </a>
        <a class="block hover:text-gray-700 lg:inline-block lg:mt-0 mr-10">
          <button [routerLink]="['/about']">
            About Us
          </button>
          
        </a>
      </div>
      <div class="flex items-center" *ngIf="!userSignedIn">
        <div class="mr-5 lg:mr-0">
          <button
            [routerLink]="['/login']"
            class="py-2 px-6 rounded-md text-gray-600 hover:text-gray-700 text-lg"
          >
            Login
          </button>
          <button
            [routerLink]="['/signup']"
            class="py-2 px-6 hover:text-gray-700 text-gray-600 text-lg"
          >
            Create Account
          </button>
        </div>
      </div>
      <div class="flex items-center" *ngIf="userSignedIn">
        <div class="mr-5 lg:mr-0">
          <button
            class="py-2 px-6 rounded-md text-gray-600 hover:text-gray-700 text-lg"
            (click)="signOut()"
          >
            Sign Out
          </button>
        </div>
      </div>
    </nav>
  </header>