<div *ngIf="caseService.currentCase?.vitals" class="w-full mt-5 text-center">
  <button
    *ngFor="let cp of caseService.currentCase?.vitals"
    (click)="caseService.handleCasePossiblity(cp)"
    [ngClass]="{'bg-gray-400 hover:bg-gray-400 text-gray-200 hover:animate-none cursor-not-allowed': cp.checkedByUser}"
    routerLinkActive="border-4 border-gray-400"
    class="
      w-full
      shadow-2xl
      py-5
      lg:w-1/4
      m-3
      text-center
      rounded-lg
      text-white
      bg-blue-700
      cursor-pointer
      hover:bg-blue-500
      hover:animate-pulse
    "
  >
    {{cp.details}}
  </button>
</div>
