<app-case-details></app-case-details>
<main class="mt-12 lg:mt-20">
    <section class="container mx-auto px-6" >
      <div class="w-full lg:flex">
        <div class="w-full lg:w-1/4 text-center text-blue-700">
          Vitals
        </div>
        <div class="w-full lg:w-1/4 text-center text-blue-700">
            Device Parameters
          </div>
          <div class="w-full lg:w-1/4 text-center text-blue-700">
            LVAD Coordinators
          </div>
        <div class="w-full lg:w-1/4 text-center text-blue-700"> 
          Labs
        </div>
      </div>
    </section>
  </main>