<main *ngIf="currentCase" class="mt-7 lg:mt-20">
  <app-case-details [case]="currentCase"></app-case-details>
  <section class="container mx-auto px-6">
    <div class="w-full pt-10 lg:flex">
      <div
        [routerLink]="['/simulation', caseID, 'vitals']"
        routerLinkActive="border-4 border-gray-400"
        class="
          w-full
          shadow-2xl
          py-5
          lg:w-1/4
          mr-3
          text-center
          rounded-lg
          text-white
          bg-blue-700
          cursor-pointer
        "
      >
        Vitals
      </div>
      <div
        [routerLink]="['/simulation', caseID, 'controller']"
        routerLinkActive="border-4 border-gray-400"
        class="
          w-full
          shadow-2xl
          py-5
          lg:w-1/4
          mx-3
          text-center
          rounded-lg
          text-white
          bg-blue-700
          cursor-pointer
        "
      >
        Device Controller
      </div>
      <div
        [routerLink]="['/simulation', caseID, 'lvadTeam']"
        routerLinkActive="border-4 border-gray-400"
        class="
          w-full
          shadow-2xl
          py-5
          mx-3
          lg:w-1/4
          text-center
          rounded-lg
          text-white
          bg-blue-700
          cursor-pointer
        "
      >
        LVAD Coordinators
      </div>
      <div
        class="
          w-full
          shadow-2xl
          py-5
          lg:w-1/4
          ml-3
          text-center
          rounded-lg
          text-white
          bg-blue-700
          cursor-not-allowed
        "
      >
        Labs
      </div>
    </div>
    <router-outlet></router-outlet>
  </section>
  <app-feedback></app-feedback>
</main>
