<div
  *ngIf="caseService.currentCase?.controller"
  class="w-full mt-5 text-center"
>
  <div class="mx-auto relative w-1/2">
    <img class="w-full z-0" [src]="lvadImagePaths[paramClicks]" alt="" />
    <h3 class="absolute z-10 text-black text-3xl font-serif top-[42%] right-[30%]">
      {{ caseService.currentCase!.params![paramClicks].value }}
    </h3>
    <button
      class="bg-transparent z-10 absolute w-[13%] h-1/6 top-[37%] right-[10%]"
      (click)="onParamClick()"
    ></button>
    <button
    class="bg-transparent z-10 absolute w-[13%] h-1/6 top-[10%] right-[30%]"
    [disabled]="getArrowCheckCP(this.caseService.currentCase!).checkedByUser"
    (click)="this.caseService.handleCasePossiblity(getArrowCheckCP(this.caseService.currentCase!))"
  ></button>
  </div>
  <app-case-button
    *ngFor="let cp of caseService.currentCase?.controller"
    [casePosiblity]="cp"
  >
  </app-case-button>
</div>
