<div *ngIf="controller" class="w-full mt-5 text-center flex">
  <div class="w-1/4 flex flex-col p-4">
    <button
      (click)="caseService.handleCasePossiblity(controller.display.parameters)"
      [ngClass]="{'bg-gray-400 hover:bg-gray-400 text-gray-200 hover:animate-none cursor-not-allowed': controller.display.parameters.checkedByUser}"
      routerLinkActive="border-4 border-gray-400"
      class="
        w-full
        shadow-2xl
        py-5
        mr-3
        text-center
        rounded-lg
        text-white
        bg-blue-700
        cursor-pointer
        hover:bg-blue-500
        hover:animate-pulse
      "
    >
      {{ controller.display.parameters.details }}
    </button>

    <button
      (click)="caseService.handleCasePossiblity(controller.display.arrowCheck)"
      [ngClass]="{'bg-gray-400 hover:bg-gray-400 text-gray-200 hover:animate-none cursor-not-allowed': controller.display.arrowCheck.checkedByUser}"
      routerLinkActive="border-4 border-gray-400"
      class="
        w-full
        shadow-2xl
        py-5
        mr-3
        text-center
        rounded-lg
        text-white
        bg-blue-700
        cursor-pointer
        mt-2
        hover:bg-blue-500
        hover:animate-pulse
      "
    >
      {{ controller.display.arrowCheck.details }}
    </button>
  </div>
  <div class="w-1/4 flex flex-col p-4">
    <button
      (click)="caseService.handleCasePossiblity(controller.listenForHum)"
      [ngClass]="{'bg-gray-400 hover:bg-gray-400 text-gray-200 hover:animate-none cursor-not-allowed': controller.listenForHum.checkedByUser}"
      routerLinkActive="border-4 border-gray-400"
      class="
        w-full
        shadow-2xl
        py-5
        mr-3
        text-center
        rounded-lg
        text-white
        bg-blue-700
        cursor-pointer
        hover:bg-blue-500
        hover:animate-pulse
      "
    >
      {{ controller.listenForHum.details }}
    </button>
  </div>
  <div class="w-1/4 flex flex-col p-4">
    <button
      (click)="caseService.handleCasePossiblity(controller.pump.isOn.haveLVADTeamReplaceController)"
      [ngClass]="{'bg-gray-400 hover:bg-gray-400 text-gray-200 hover:animate-none cursor-not-allowed': controller.pump.isOn.haveLVADTeamReplaceController.checkedByUser}"
      routerLinkActive="border-4 border-gray-400"
      class="
        w-full
        shadow-2xl
        py-5
        mr-3
        text-center
        rounded-lg
        text-white
        bg-blue-700
        cursor-pointer
        hover:bg-blue-500
        hover:animate-pulse
      "
    >
      {{ controller.pump.isOn.haveLVADTeamReplaceController.details }}
    </button>

    <button
      (click)="caseService.handleCasePossiblity(controller.pump.isOn.replaceControllerYourself)"
      [ngClass]="{'bg-gray-400 hover:bg-gray-400 text-gray-200 hover:animate-none cursor-not-allowed': controller.pump.isOn.replaceControllerYourself.checkedByUser}"
      routerLinkActive="border-4 border-gray-400"
      class="
        w-full
        shadow-2xl
        py-5
        mr-3
        text-center
        rounded-lg
        text-white
        bg-blue-700
        cursor-pointer
        mt-2
        hover:bg-blue-500
        hover:animate-pulse
      "
    >
      {{ controller.pump.isOn.replaceControllerYourself.details }}
    </button>
  </div>
  <div class="w-1/4 flex flex-col p-4">
    <button
    (click)="caseService.handleCasePossiblity(controller.pump.isOff.haveLVADTeamReplaceController)"
    [ngClass]="{'bg-gray-400 hover:bg-gray-400 text-gray-200 hover:animate-none cursor-not-allowed': controller.pump.isOff.haveLVADTeamReplaceController.checkedByUser}"
    routerLinkActive="border-4 border-gray-400"
    class="
      w-full
      shadow-2xl
      py-5
      mr-3
      text-center
      rounded-lg
      text-white
      bg-blue-700
      cursor-pointer
      hover:bg-blue-500
      hover:animate-pulse
    "
  >
    {{ controller.pump.isOff.haveLVADTeamReplaceController.details }}
  </button>

  <button
    (click)="caseService.handleCasePossiblity(controller.pump.isOff.replaceControllerYourself)"
    [ngClass]="{'bg-gray-400 hover:bg-gray-400 text-gray-200 hover:animate-none cursor-not-allowed': controller.pump.isOff.replaceControllerYourself.checkedByUser}"
    routerLinkActive="border-4 border-gray-400"
    class="
      w-full
      shadow-2xl
      py-5
      mr-3
      text-center
      rounded-lg
      text-white
      bg-blue-700
      cursor-pointer
      mt-2
      hover:bg-blue-500
      hover:animate-pulse
    "
  >
    {{ controller.pump.isOff.replaceControllerYourself.details }}
  </button>
  </div>
</div>
