<main class="w-full h-auto flex align-middle items-center justify-center">
  <div class="w-1/4 mt-10 shadow rounded p-4">
    <h3 class="w-full text-center text-2xl">Login</h3>
    <div class="mb-4">
        <label for="email" class="mb-3 block text-gray-700">Email address:</label>
        <input type="email" id="email" class="bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full" placeholder="Enter Email" required>
    </div>
    <div class="mb-4">
        <label for="password" class="mb-3 block text-gray-700">Password:</label>
        <input type="password" id="password" class="bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full" placeholder="Enter Password" required>
    </div>
    <button class="w-full text0-center py-2 text-white bg-blue-500 rounded-md">Login</button>
  </div>
</main>
