<div
  *ngIf="caseService.currentCase?.lvadTeam?.callCoordinator"
  class="w-full mt-5 text-center flex"
>
  <button
    (click)="
      caseService.handleCasePossiblity(
        caseService.currentCase!.lvadTeam.callCoordinator
      )
    "
    routerLinkActive="border-4 border-gray-400"
    class="
      w-full
      shadow-2xl
      py-5
      lg:w-1/4
      mx-auto
      text-center
      rounded-lg
      text-white
      bg-blue-700
      cursor-pointer
      hover:bg-blue-500
      hover:animate-pulse
    "
  >
    {{ caseService.currentCase!.lvadTeam.callCoordinator.details }}
  </button>
</div>
